/* Main container styles */
.container {
  background-color: #ffffff;
  border: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 40px;
}

/* Button styles with black text and hover effects */
.BN-btn {
  background-color: black; /* Default background black */
  color: white; /* Default text white */
  border: 2px solid black; /* Black border */
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 25px; /* Rounded button */
  transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Smooth transitions */
  cursor: pointer; /* Pointer on hover */
}

.BN-btn:hover {
  background-color: white; /* White background on hover */
  color: black; /* Black text on hover */
  border-color: black; /* Keep border black on hover */
}

.BN-btn.active {
  background-color: white; /* Active state background white */
  color: black; /* Black text in active state */
  border-color: black; /* Black border for active state */
}

/* Flex container styles */
.wrapper {
  display: flex;
  flex-grow: 0;
  overflow: visible;
}

.time_seats_container {
  position: relative;
  overflow: auto;
  top: -10px;
}

@media screen and (max-width: 1300px) {
  .wrapper {
    flex-direction: column-reverse;
  }
  .time_seats_container {
    top: 0px;
  }
  .last_booking_details_container {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 500px) {
  .container {
    width: 85%;
    padding: 15px;
  }
}